.footer{
    margin: 100px 200px 20px 200px;
    .container{
        // display: flex;
        // align-items: center;
        .top{
            display: flex;
            justify-content: space-between;
            align-tracks: center;
            gap: 50px;
            .item{
                flex: 1;
                display: flex;
                // align-items: center;
                flex-direction: column;
                gap: 10px;
                span{
                    color: gray;
                    text-align: justify;
                }
            }
            h1{
                color: #555;
                font-weight: 500;
                font-size: 18px;
            }
        }
        .bottom{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 50px;
            .left{
                display: flex;
                align-items: center;

                .logo{
                    span{
                        font-size: 30px;
                        font-weight: bold;
                        color: #63DF74;
                        
                    }
                }
                .copyright{
                    font-size: 16px;
                    color: gray;
                    font-weight: 300;
                    margin-left: 10px;
                }
            }
            .right{
                img{
                    height: 50px;
                }
            }
        }
    }
}